<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t ".info_html" %></p>
      <table class="table-list civicrm-info">
        <thead>
          <tr>
            <th><%= t(".feature") %></th>
            <th><%= t(".description") %></th>
            <th><%= t(".status") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= t ".api" %></td>
            <td><%= t ".api_html" %></td>
            <td><%= check_icon Decidim::Civicrm.api.dig(:api_key)&&Decidim::Civicrm.api.dig(:site_key)&&Decidim::Civicrm.api.dig(:url), label: true, icon: false %></td>
          </tr>
          <tr>
            <td><%= t ".omniauth" %></td>
            <td><%= t ".omniauth_html" %></td>
            <td><%= check_icon Decidim::Civicrm.omniauth.dig(:enabled), label: true, icon: false %></td>
          </tr>
          <tr>
            <td><%= t ".authorizations" %></td>
            <td><%= t ".authorizations_html" %></td>
            <td><%= if Decidim::Civicrm.authorizations.respond_to?(:map)
                      Decidim::Civicrm.authorizations.map {|a| Decidim::Verifications.find_workflow_manifest(a).description}.join("<br>").html_safe
                    else
                      check_icon false, label: true, icon: false
                    end %></td>
          </tr>
          <tr>
            <td><%= t ".send_verification_notifications" %></td>
            <td><%= t ".send_verification_notifications_html" %></td>
            <td><%= check_icon Decidim::Civicrm.send_verification_notifications, label: true, icon: false %></td>
          </tr>
          <tr>
            <td><%= t ".send_meeting_registration_notifications" %></td>
            <td><%= t ".send_meeting_registration_notifications_html" %></td>
            <td><%= check_icon Decidim::Civicrm.send_meeting_registration_notifications, label: true, icon: false %></td>
          </tr>
          <tr>
            <td><%= t ".publish_meetings_as_events" %></td>
            <td><%= t ".publish_meetings_as_events_html" %></td>
            <td><%= check_icon Decidim::Civicrm.publish_meetings_as_events, label: true, icon: false %></td>
          </tr>
          <tr>
            <td><%= t ".publish_meeting_registrations" %></td>
            <td><%= t ".publish_meeting_registrations_html" %></td>
            <td><%= check_icon Decidim::Civicrm.publish_meeting_registrations, label: true, icon: false %></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<style type="text/css">
  .table-list th,.table-list td {
    text-align: left !important;
  }
</style>
