<div class="field">
  <label for="civicrm-groups-participatory-spaces-selector"><%= t("sync_members", scope: "decidim.civicrm.admin.groups.participatory_spaces") %></label>
  <select id="civicrm-groups-participatory-spaces-selector" multiple="">
    <%= group.participatory_spaces.each do |id, title| %>
      <option value="<%= id %>" selected><%= title %></option>
    <% end %>
  </select>
</div>
<div class="button--double form-general-submit">
  <button class="button" disabled id="civicrm-groups-participatory-spaces-submit"><%= t("save", scope: "decidim.civicrm.admin.groups.participatory_spaces") %></button>
</div>
