<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>

      <%= link_to t(".sync"), decidim_civicrm_admin.sync_groups_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <% if groups.any? %>
      <table class="table-list civicrm-groups">
        <thead>
          <tr>
            <th><%= t(".civicrm_id") %></th>
            <th><%= t(".name") %></th>
            <th><%= t(".description") %></th>
            <th><%= t(".participants") %></th>
            <th><%= t(".total_members") %></th>
            <th><%= t(".last_sync") %></th>
            <th><%= t(".actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% groups.each do |group| %>
            <tr>
              <td><%= group.civicrm_group_id %></td>
              <td><%= link_to group.title, decidim_civicrm_admin.group_path(group) %></td>
              <td><%= group.description %></td>
              <td><%= group.members.count %></td>
              <td><%= group.civicrm_member_count %></td>
              <td class="<%= last_sync_class(group.last_sync) %>"><%= l(group.last_sync, format: :decidim_short) if group.last_sync %></td>
              <td class="table-list__actions">
              <% if group.auto_sync_members? %>
                <%= icon_link_to "check", decidim_civicrm_admin.toggle_auto_sync_groups_path(id: group.id), t(".auto_sync.disable"), class: "action-icon action-icon--success", method: :put %>
              <% else %>
                <%= icon_link_to "check", decidim_civicrm_admin.toggle_auto_sync_groups_path(id: group.id), t(".auto_sync.enable"), class: "action-icon action-icon--remove", method: :put %>
              <% end %>

              <%= icon_link_to "reload", decidim_civicrm_admin.sync_groups_path(id: group.id), t(".sync"), class: "action-icon--reload" %>
              <%= icon_link_to "eye", decidim_civicrm_admin.group_path(group), t(".members"), class: "action-icon" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate groups, theme: "decidim" %>
    <% else %>
      <p class="callout warning">
        <%= t(".empty") %>
        <%= link_to t(".sync"), decidim_civicrm_admin.sync_groups_path %>
      </p>
    <% end %>
  </div>
</div>
