<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>

      <%= link_to t(".new"), decidim_civicrm_admin.new_meeting_path, class: "button tiny button--title" %>
    </h2>
  </div>
  <div class="card-section">
    <% if meeting_redirections.any? %>
      <table class="table-list civicrm-meetings">
        <thead>
          <tr>
            <th><%= t(".meeting") %></th>
            <th><%= t(".url") %></th>
            <th><%= t(".actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% meeting_redirections.each do |meeting_redirection| %>
            <tr>
              <td><%= meeting_title(meeting_redirection.meeting) %></td>
              <td><%= meeting_redirection.url %></td>
              <td class="table-list__actions">
              <% if meeting_redirection.active? %>
                <%= icon_link_to "check", decidim_civicrm_admin.toggle_active_meetings_path(id: meeting_redirection.id), t(".active.disable"), class: "action-icon action-icon--success", method: :put %>
              <% else %>
                <%= icon_link_to "check", decidim_civicrm_admin.toggle_active_meetings_path(id: meeting_redirection.id), t(".active.enable"), class: "action-icon action-icon--remove", method: :put %>
              <% end %>

              <%= icon_link_to "x", decidim_civicrm_admin.meeting_path(meeting_redirection), t(".remove"), class: "action-icon action-icon--remove", method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate meeting_redirections, theme: "decidim" %>
    <% end %>
  </div>
</div>